<form class="container-fluid" action="/register" method="POST">
  <div class="row">
    <div class="input-field">
      <div class="col-2">
        <label for="nickname">Nome:</label>
      </div>
      <div class="col-12">
        <input
          type="text"
          class="form-control"
          placeholder="Insira o seu nome"
          name="nickname"
          required
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <div class="col-2">
        <label for="email">Email:</label>
      </div>
      <div class="col-12">
        <input
          type="text"
          class="form-control"
          placeholder="Insira o seu Email"
          name="email"
          required
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <div class="col-2">
        <label for="password">Password:</label>
      </div>
      <div class="col-12">
        <input
          type="password"
          placeholder="Insira uma Password"
          class="form-control"
          name="password"
          required
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <div class="col-2">
        <label for="password">Password de confirmação:</label>
      </div>
      <div class="col-12">
        <input
          type="password"
          placeholder="Confirme a sua Password"
          class="form-control"
          name="password_confirmation"
          required
        />
      </div>
    </div>
  </div>
  <div class="row center-align">
    <span class="error"><%= authErrorType === 'register' ? authError : '' %></span>
    <button type="submit" class="btn btn-primary">Registar</button>
  </div>
</form>
