<%- include('./partials/header') %>
  <body>
    <%- include('./partials/navbar') %>
  
    <div class="container">
      <%- include('./partials/feed') %>
    </div>
  </body>
  <script src ="./js/main.js"></script>
  <script src ="./js/auth.js"></script>
</html>
