<%- include('./partials/header') %> <%- include('./partials/navbar') %>
<h3 class="text-center">Estão marcadas no mapa as estações de monitorização do ar disponíveis de momento</h3>
<h5 class="text-center">Pressione numa delas para saber mais</h5>
<div class="container align-self-center" id="stations-container"></div>

<script src="./js/stations.js"></script>
<script src ="./js/auth.js"></script>